@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align: center">Studentska Služba</h1>
<div style="height: 20em; overflow: hidden">
    <img src="https://www.tk.etf.unsa.ba/wpcontent/uploads/2019/09/dotfeesa_small_-68.jpg" style="width: 100%">
</div>
<h3 style="margin-top: 3%">
    Aplikacija za registrovanje studenata i
    predmeta
</h3>
<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
    <b>
        Ova web-aplikacija namijenjena je za rad sa studentima i predmetima
        fakulteta.
        <br>
        Sastoji se od korisničkih interfejsa koji omogućavaju vršenje operacija
        dodavanja, editovanja i brisanja.
        <br>
        Trenutno je izvršen razvoj samo za predmete, kojima je moguće pristupiti
        pomoću stavke menija na vrhu stranice.
    </b>
    <br>
    Više informacija o ASP.NET možete naći na <a href="https://c2.etf.unsa.ba/course/view.php?id=111"> sljedećem linku.</a>
    <br>
    <br>
    <h5>Više informacija o našem fakultetu:</h5>
    <iframe style="width: 100%" height="400"
            src="https://www.youtube.com/embed/8VXW4Uq_PC0?autoplay=1&mute=1">
    </iframe>
</div>